  
  <link href="assets/css/style_.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  
  <div>
		<div class="col-md-12">
			<h3 class="text-center">
				U Survey Help Center
			</h3>
		</div>
	</div>
    
	<div class="row">
		<div class="col-md-4">
		
        <img src="assets/img/REC_About_Us_JG2.jpg" alt=""/></div>
		<div class="col-md-8">
			<h2>
				About Us
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>
    	<div class="row">
        	<div class="col-md-12">
            <hr>
            </div>
        	
        </div>

    
    <div class="row">
    	<div class="col-md-8">
			<h2>
				Contact Us
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
        
		<div class="col-md-4">
		
        	<img src="assets/img/images (4).jpg" alt=""/>
        </div>
		
	</div>
	
	
	<div class="container">
	
		<p class="centered">Created by UCSC group 27  (2016)</p>
	</div><!-- /container -->