<p>Administrator page</p>
<div ng-repeat="user in users">
    <a>
     Firstname : {{user.firstname}}
    </a>
    <br>
    <a>
     Lastname : {{user.lastname}}
    </a>
    <br>
    <a>
     Email : {{user.email}}
    </a>
    <br>
    <br>
</div>
