

  <link href="assets/css/style_.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
   <div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				U Survey Help Center
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
		<p>Figure 01</p>

        <img src="assets/img/start1.png" alt=""/> </div>
		<div class="col-md-6">
		<p><b><font color='red'>Before creating the survey you should register to the system using 'Sign In' form.</font></b>
			<h2>
				Creating the survey
			</h2>
			<p>
			After successful log in you will be directed to your profile (Figure 01). There on the top right hand side you
			can see the <b>'Create Survey'</b> button. Just click on it.
			</p>
			<p>
			<hr>
			</p>

		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
				<p>Figure 02</p>

		        <img src="assets/img/start2.png" alt=""/>
		</div>
				<div class="col-md-6">

					<p>
					You will be directed to the Create survey page (Figure 02).
					</p>
					<p>
					Here <b>'Save'</b> allows you to save the created survey. <b>'Reset'</b> allows you to reset the whole
					survey by editing each question one by one.
					</p>
					<p>
					Should give the title of the survey at <b>'Form name'</b> field.
					If you like you can give a short description about your survey at the <b>'Description'</b> field.
					It is valuable for understand the core of the survey.
					</p>
					<p>
					<hr>
					</p>

		</div>
	</div>
    <div class="row">
			<div class="col-md-6">
					<p>Figure 03</p>

			        <img src="assets/img/start3.png" alt=""/>
			</div>
					<div class="col-md-6">

						<p>
						Empty page is present. You can give a name to the page if you like by giving a
						name by putting a tick on the box at <b>'named'</b> <img src="assets/img/start6.png" alt=""/>
						</p>
						<p>
						<b>'Add page'</b> allows you to add new pages.
						<p><img src="assets/img/start4.png" alt=""/> This button shows the <b>'Fold'</b>
						option. By clicking on this you can </p>
						<p><img src="assets/img/start5.png" alt=""/> Using this <b>'Delete'</b> button you can delete
						unwanted pages.
						</p>
						<p>
						<b>'Add element'</b> helps you to add questions to your questionnaire with different question
						types.
						</p>
						<p>
						<hr>
						</p>

			</div>
	</div>
	<div class="row">
			<div class="col-md-6">
					<p>Figure 04</p>

			        <img src="assets/img/start7.png" alt=""/>
			</div>
					<div class="col-md-6">

						<p>
						You will be directed to the window shown on Figure 04.
						</p>
						<p>
						You can add your question to <b>'Question text'</b> box.
						<p> <b>'Question type'</b> will select the desired question type.(Each question type is described below)</p>
						<p>
						<b>'Required'</b> is selected automatically <img src="assets/img/start8.png" alt=""/>. This allows to
						create compulsory questions. Then after the question a star mark is present.
					    If the question is not compulsory you can unselect it.
						</p>
						<p> After the question is ready just click on <b>'Ready'</b> button.
						Then you can preview the added question.
						<p>
						<hr>
						</p>

			</div>
	</div>
	<div class="row">
			<div class="col-md-6">
			<p>Figure 05</p>

	        <img src="assets/img/start9.png" alt=""/> </div>
			<div class="col-md-6">
			<h3>Question Types<h3>
				<p>
				The question types provided by the system is shown in Figure 05.
				<p><b>01) Short text</b> - Using this you can add questions which need a shorter answer.
				<img src="assets/img/start10.png" alt=""/> This is a question with a shorter answer and
				its a compulsory question.
				</p>
				<p><b>02) Long text</b> - Using this you can add questions which need a longer answer.
				<img src="assets/img/start11.png" alt=""/>
				<p>
				<hr>
				</p>

			</div>
	</div>

	<div class="container">

		<p class="centered">Created by UCSC group 27  (2016)</p>
	</div><!-- /container -->