
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">

                  <div ui-view="authenticationform" class="col-sm-10">
                  </div>
									
				</div><!-- /col-lg-6 -->
				<div class="col-lg-6">
				<h1>Make Your Survey
					A Success.</h1>
					<p> </p>
					<img class="img-responsive" src="assets/img/u_servey.png" alt="">
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	
		<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Online surveys made easy.</h1>
				<h3>Collect the data you need to make smarter decisions.</h3>
			</div>
		</div><!-- /row -->

		<div class="row mt centered">
			<div class="col-lg-6">
				<img src="assets/img/shot04.png" width="180" alt="">
				<h4>For whom?</h4>
				<p>For personnel of University of Colombo.
				Academic staff, Undergraduates, Research Personnel can use the system to publish their surveys.
				Anyone whom they name can participate as respondents.</p>
			</div><!--/col-lg-4 -->



			<div class="col-lg-6">
				<img src="assets/img/u_servey1.png" width="180" alt="">
				<h4>Why us?</h4>
				<p> Its totally free. You can easily get used to the system.
				You can reuse previous surveys according to your requirement under the permission
				of the previous survey creator.</p>

			</div><!--/col-lg-4 -->


		</div><!-- /row -->
		<div class="row mt centered">
					<div class="col-lg-4">
						<img src="assets/img/ser01.png" width="180" alt="">
						<h4>1 - Plan your survey</h4>
						<p>Decide the subject field you need to do the survey. Decide your questions.
						Decide the targetted field. Design your questionnaire.</p>
					</div><!--/col-lg-4 -->



					<div class="col-lg-4">
						<img src="assets/img/ser02.png" width="180" alt="">
						<h4>2 - Make your survey form with U-Survey</h4>
						<p> Use our provided templates to build your questionnire. Just click on the question type
						and type your question. Its so easy.</p>

					</div><!--/col-lg-4 -->

					<div class="col-lg-4">
						<img src="assets/img/ser03.png" width="180" alt="">
						<h4>3 - Share it !!!</h4>
						<p>Just share the link of your created survey through facebook, twitter, Google+
						or anywhere you like to your targetted audience.</p>

					</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->


	<! -- ********** BLUE SECTION - PICTON ********** -->
	<div id="picton">
		<div class="row nopadding">
			<div class="col-md-6 pull-left">
				<img src="assets/img/shot01.png" class="img-responsive alignleft" alt="" data-effect="slide-left">
			</div>
			<div class="col-md-5 mt">
				<h4>Multiple Templates Options</h4>
				<p>Survey question types are available for you</p>
				<p>Long text, short text,radio button, checkbox, grid, priority and division question types
				are available for you.</p>
				<p>Type your question, just select your desired question type and click on it.</p>
				<p>Add or delete any number of pages any number of questions as you wish.</p>

			</div>

		</div><! --row -->
	</div><! --/Picton -->

	<div id="w">
		<div class="row nopadding">
			<div class="col-md-5 col-md-offset-1 mt">
				<h4>Share it according to your prefernces</h4>
				<p>After creating your survey just share its link with your audience.</p>
				<p>Can share it via vle, social networks like facebook, twitter, Google
				+ or anywhere your targetted audience is present.</p>
				<p>We'll collect the responses of your audience.</p>
				<p>Whenever you want to overview your early surveys, we have them with us.
				Share your survey with others as an example to their creating surveys if you wish.</p>

			</div>

			<div class="col-md-6 pull-right">
				<img src="assets/img/shot02.png" class="img-responsive alignright" alt="" data-effect="slide-right">
			</div>
		</div><! --/row -->
	</div>

		<! -- ********** BLUE SECTION - MALIBU ********** -->
	<div id="malibu">
		<div class="row nopadding">
			<div class="col-md-6 pull-left">
				<img src="assets/img/shot03.png" class="img-responsive alignleft" alt="" data-effect="slide-left">
			</div>
			<div class="col-md-5 mt">
				<h4>Handsome Analytics</h4>
				<p>We'll analyze the responces for you.</p>
				<p>A simple analysis is available for radio button, checkbox, grid, priority and division
				question types.</p>
				<p>Download your analysis report in Excel</p>
				<p>You can download unedited, unanalysed responces of your audience too</p>

			</div>

		</div><! --row -->
	</div><! --/Malibu -->











	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>University Of Colombo<br/></h1>

			</div>
		</div><!-- /row -->


	</div><!-- /container -->

	<div class="container">

		<p class="centered">Created by UCSC group 27  (2016)</p>
	</div><!-- /container -->
