<p>Administrator Name : {{admin.name}}</p>
<p>Administrator email : {{admin.email}}</p>
<p>Administrator faculty : {{admin.faculty}}</p>

<p>To complete your registration Meet</p>
<p>your Faculty Administrator within 30days.</p>
<p>with your University ID card.</p>
