
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<p>User page</p>
<uib-tabset>
    <uib-tab href="#dashboard">
        <div role="tabpanel" class="tab-pane active" id="dashboard">
        </div>
    </uib-tab>
    <uib-tab href="#surveys">
        <div role="tabpanel" class="tab-pane" id="surveys">
        </div>
    </uib-tab>
    <uib-tab href="#notifications">
        <div role="tabpanel" class="tab-pane" id="notifications">
        </div>
    </uib-tab>
</uib-tabset>


