        
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="form-inline">
            <button type="button" style="margin-bottom: 15px" class="btn btn-default" ng-click="ctrl.save()">Save</button>
            <button type="button" style="margin-bottom: 15px" class="btn btn-default" ng-click="ctrl.resetBuilder()">Reset</button>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="ctrl.builderReadOnly"> Read only
                </label>
            </div>
        </div>
        <mw-form-builder api="ctrl.formBuilder" form-data="ctrl.formData" form-status="ctrl.formStatus" read-only="ctrl.builderReadOnly" on-image-selection="ctrl.onImageSelection()"></mw-form-builder>
    </div>
</div>
