<div class="userpage-tabpane">
    <uib-tabset>
        <uib-tab href="#view">
            <div role="tabpanel" class="tab-pane" id="view">
                    
                <mw-form-viewer form-data="ctrl.formData"  form-status="ctrl.formStatus" options="ctrl.formOptions" api="ctrl.formViewer" response-data="ctrl.responseData" read-only="ctrl.viewerReadOnly" on-submit="ctrl.saveResponse()"></mw-form-viewer>
            </div>
        </uib-tab>
    </uib-tabset>
</div>