<!DOCTYPE html>
<html ng-app="usurvey">

<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="group 27" content="project">
    <link rel="shortcut icon" href="assets/img/favicon.png">
  <title><%= title %></title>
  <link rel="stylesheet" href="assets/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="assets/stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="assets/stylesheets/c3.min.css">
  <!--<link rel="stylesheet" href="assets/stylesheets/angular-chart.min.css">-->
  
  <link href="assets/css/main.css" rel="stylesheet">
  
  
  <link rel="stylesheet" href="assets/stylesheets/form-builder.min.css">
  <link rel="stylesheet" href="assets/stylesheets/form-viewer.min.css">
  <link rel="stylesheet" href="assets/stylesheets/style.css">
  <!--<link href="assets/css/custom-animations.css" rel="stylesheet">-->
  
 
</head>

<body>
  <header ui-view="header"></header>
  <main ui-view="main"></main>

  <script src="assets/javascripts/jquery.min.js"></script>
  <script src="assets/javascripts/jquery-ui.min.js"></script>
  <script src="assets/javascripts/angular.min.js"></script>
  <script src="assets/javascripts/ui-bootstrap-tpls-0.14.3.min.js"></script>
  <script src="assets/javascripts/angular-ui-router.min.js"></script>
  <script src="assets/javascripts/angular-sanitize.min.js"></script>
  <script src="assets/javascripts/angular-translate.min.js"></script>
  <script src="assets/javascripts/angular-translate-loader-static-files.min.js"></script>
  <script src="assets/javascripts/elastic.js"></script>
  <script src="assets/javascripts/sortable.min.js"></script>
  
  <script src="assets/javascripts/d3.min.js"></script>
  <script src="assets/javascripts/c3.min.js"></script>
  <script src="assets/javascripts/angular_c3_simple.min.js"></script>
  <!--<script src="assets/javascripts/angular-chart.min.js"></script>-->
  
  <script src="assets/javascripts/form-builder.min.js"></script>
  <script src="assets/javascripts/form-viewer.min.js"></script>
  <script src="angular.core.js"></script>
  <script src="angular.routes.js"></script>
  <script src="angular.routes.survey.js"></script>
  <script src="mainController.js"></script>
  <script src="navController.js"></script>
  <script src="authenticationController.js"></script>
  <script src="surveyController.js"></script>
  <script src="userController.js"></script>
  <script src="administratorController.js"></script>
  <script src="services/authenticationService.js"></script>
  <script src="services/surveyService.js"></script>
  <script src="services/configurationServeice.js"></script>
  <script src="services/userService.js"></script>
</body>

</html>
