<h3>Survey Creaters</h3>
<hr>
<hr>
<div ng-repeat="user in users">
    <h4>
     Name : {{user.firstname}} {{user.lastname}}
    </h4>
    <br>
    <h6>
     University ID : {{user.universityid}}
    </h6>
    <br>
    <a>
     Email : {{user.email}}
    </a>
    <hr>
</div>
